.gallery {
    width: 100%; 
    display: flex;
    position: relative;
}

.gallery-caption {
  font-family: Chillax;
}

.gallery__image {
    width: 500px;
    height: 350px;
    object-fit: contain;
}

.gallery__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.gallery-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.gallery-button_go {
    background-image: url('../../images/forward.png');
    background-size: cover;
    width: 40px;
    height: 80px;
    opacity: 1;
    transition: opacity 0.3s, transform 0.4s ease;
    padding-left: 40px;
  }
  
  .gallery-button_go:hover {
    opacity: 0.4;
    transform: translateY(-5px);
  }


.gallery-button_back {
    background-image: url('../../images/back.png');
    background-size: cover;
    width: 40px;
    height: 80px;
    opacity: 1;
    transition: opacity 0.4s, transform 0.4s ease;
    padding-right: 40px;
}

.gallery-button_back:hover {
    opacity: 0.4;
    transform: translateY(-5px);
  }

  @media screen and (max-width: 500px) {
    .gallery {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .gallery__image {
        width: 95%;
        height: auto;
    }

    .gallery-caption {
        text-align: center;
        padding-top: 10px;
        font-size: 14px;
        color: rgb(147, 140, 140);
    }

  .gallery-button_back,
  .gallery-button_go {
    display: none;
  }
}

@media screen and (min-width: 400px) and (max-width: 600px) {
  .gallery {
    padding-left: 0;
  }
}

@media screen and (min-width: 501px) {
  .gallery-caption {
      visibility: hidden;
  }
}