.gallery {
    width: 60%;
    /* margin-left: 30px; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.gallery__image {
    width: 500px;
    height: 350px;
    object-fit: contain;
}

.gallery__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.gallery-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    /* margin: 0 20px; */
}

.gallery-button_go {
    background-image: url('../../images/forward.png');
    background-size: cover;
    width: 40px;
    height: 80px;
    opacity: 1;
    transition: opacity 0.3s, transform 0.4s ease;
    padding-left: 40px;
  }
  
  .gallery-button_go:hover {
    opacity: 0.4;
    transform: translateY(-5px);
  }


.gallery-button_back {
    background-image: url('../../images/back.png');
    background-size: cover;
    width: 40px;
    height: 80px;
    opacity: 1;
    transition: opacity 0.4s, transform 0.4s ease;
    padding-right: 40px;
}

.gallery-button_back:hover {
    opacity: 0.4;
    transform: translateY(-5px);
  }

  @media screen and (max-width: 600px) {
    .gallery {
        width: 100%;
        align-items: center;
        text-align: center;
        flex-direction: column;
        padding-left: 25px;
    }

    .gallery__image {
        width: 95%;
        height: auto;
    }

    .gallery-caption {
        padding-top: 10px;
        font-size: 14px;
        color: grey;
    }

  .gallery-button_back,
  .gallery-button_go {
    display: none;
  }
}